*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body{
	background-color: white;
}

/* Mise en page (positionnement)
========================================================================== */

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */

header
{
background-color: beige;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 15px solid rgb(134, 134, 91);
border-radius: 15px;
}
.logo
{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}
nav, ul,li
{
	display:flex;
}
.boutton-menu:hover
{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: smaller;
    text-decoration: underline;
    border-bottom: 5px solid rgb(64, 18, 107);
    display: inline-block; 
	margin-right: 10px;
}
.boutton-menu
{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: smaller;
    text-decoration: none;
    border-bottom: 5px solid rgb(9, 4, 142);
    display: inline-block; 
	margin-right: 10px;
}
/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */



/* Formulaires
========================================================================== */



/* Règles spécifiques aux pages
========================================================================== */