* {
	box-sizing: border-box;
}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body {
	background-color: white;
}

/* Mise en page (positionnement)
========================================================================== */

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */

header {
	background-color: rgb(255, 255, 255);
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 5px solid rgb(144, 144, 144);
	margin-bottom: 50px;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 5px;
}

nav,
ul,
li {
	display: flex;
}

.boutton-menu:hover {
	text-decoration: underline;
}

.boutton-menu {

	color: rgb(9, 9, 9);
	font-size: xx-large;
	text-decoration: none;
	display: inline-block;
	margin-right: 50px;
}

footer {
	margin-top: 50px;
	background-color: black;
	color: white;
	font-size: larger;
	padding-top: 25px;
	padding-bottom: 25px;
	justify-content: space-around;
	display: flex;
}

/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */

.album-3 {
	grid-row: span 2;
	grid-column: span 2;
}

#grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.section {
	font-size: x-large;
	background-color: rgb(212, 209, 209);
	grid-column: span 2;
	grid-row: span 2;
	align-content: center;
	padding-left: 9rem;
}

.connexion {
	font-size: xx-large;
}

.telephone {
	background-color: white;
	color: black;
	padding: 15px;
	text-decoration: none;
}

.fin {
	text-align: center;
}

.theme {
	background-color: black;
	font-size: xx-large;
	color: white;
}

.grid-disques {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid {
	grid-column: span 1;
}

img {
	max-width: 100%;
}

.boutton {
	background-color: black;
	color: white;
	padding: 5px;
	border-radius: 3px;
	text-decoration: none;
}

.boutton:hover {
	background-color: rgb(22, 22, 22);
	text-decoration: underline;
}

.JSP {
	text-align: center;
	margin-bottom: 10px;
}

.separer {
	display: flex;
	justify-content: space-between;
}

.grid-vente {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.grid-section{
	font-size: x-large;
	background-color: rgb(212, 209, 209);
	align-content: center;
	padding-left: 20px;
	padding-right:20px;
}
.prix{
	color:red;
}
.mots-cle{
	font-size: larger;
	border:2px solid blue;
	color:blue;
	text-decoration: none;
}
.section-normal{
	background-color: rgb(212, 209, 209);
	padding-left: 20px;
	padding-right:20px;
	margin-right:10px;
	margin-bottom: 10px;
}
.recherche{
	padding-right: 70px ;
}
th{
	border: 2px solid black;
	background-color: grey;
}
td{
	border: 2px solid black;
	background-color: white;
}

/* Formulaires
========================================================================== */



/* Règles spécifiques aux pages
========================================================================== */