*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body{
	background-color: white;
}

/* Mise en page (positionnement)
========================================================================== */

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */

header
{
background-color: rgb(255, 255, 255);
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 5px solid rgb(144, 144, 144);
}

.logo
{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}
nav, ul,li
{
	display:flex;
}
.boutton-menu:hover
{
text-decoration: underline;
}
.boutton-menu
{
   
    color: rgb(9, 9, 9);
    font-size: xx-large;
    text-decoration: none;
    display: inline-block; 
	margin-right: 50px;
}
/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */

.album-1
{
margin-top: 20px;
grid-area:al-1;
}
.album-2
{
	margin-top: 20px;
	grid-area:al-2;
}
#grid-containeur
{
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-areas:
"al-1 tx"
"al-2 tx";

}

/* Formulaires
========================================================================== */



/* Règles spécifiques aux pages
========================================================================== */